.inputContainer {
    position: relative;
    flex: 0.4;
    min-width: 130px;
}

.input {
    text-overflow: ellipsis;
    display: block;
    height: 40px;
    line-height: 16px;
    padding: 3px 0px 4px 6px;
    border: 1px solid var(--border);
    background-color: #fff;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
}

.input::placeholder {
    color: var(--placeholder);
    font-family: var(--font);
}

.errorMessage {
    color: red;
    font-size: 12px;
    position: absolute;
}
