.button {
    border-radius: 4px;
    border: 1px solid #27272717;
    display: block;
    font-size: var(--buttonFontSize);
    min-height: 40px;
    max-height: 40px;
    line-height: 16px;
    min-width: 80px;
    max-width: 80px;
    color: white;
    font-family: var(--font);
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}