:root {
  --blue: #39ACDC;
  --red: #EC3646;
  --green: #57B93E;
  --placeholder: #AAA;
  --border: #CCC;
  --bodyBackground: #EEE;
  --gray: #333;
  --font: 'Arial';
}

.App {
  text-align: center;
  font-family: 'Arial';
  background-color: #EEE;
}

textarea:focus, input:focus {
  color: #333;
}